@import "../../global.scss";

.topbar {
    width: 100%;
    height: 80px;
    background-color: #FFC000;
    position: fixed;
    top: 0;
    z-index: 3;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;

            // .logo {
            //     font-size: 40px;
            //     font-weight: 700;
            //     text-decoration: none;
            //     color: inherit;
            //     margin-right: 40px;
            // }

            .icon {
                width: 55px;
                height: 55px;
                padding-left: 0%;
                margin-bottom: 10px;
            }
        }

        .center {
            color: $darkAccent;
            font-family: 'Oleo Script', cursive;
            font-size: x-large;
            margin: 0px 30px;

            h1 {
                // color: black;
                // font-family: 'Oleo Script', cursive;
                font-size: 50px;
                margin-right: 30px;
            }
        }

        .right {

            .menuSelect {
                width: 37px;
                height: 30px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;
                padding-bottom: 10px;

                span {
                    width: 100%;
                    height: 4px;
                    background-color: $darkAccent;
                    transform-origin: left;
                    transition: all 1s ease;
                }
            }
        }
    }

    &.active {
        background-color: $darkAccent;
        color: $accentColor;
        transition: all 1s ease;

        h1 {
            color: $accentColor;
        }

        .menuSelect {
            span {
                &:first-child {
                    background-color: $accentColor;
                    transform: translate(-15px, 0%);
                }

                &:nth-child(2) {
                    background-color: $accentColor;
                    // opacity: 0;
                }

                &:last-child {
                    background-color: $accentColor;
                    transform: translate(-15px, 0%);
                }
            }
        }
    }
}