@import "../../global.scss";

.about {
    background-color: $darkAccent;
    // background-color: $mainColor;
    width: 100%;
    height: 80%;
    // padding: 20px;
    padding-top: 10px;
    align-items: center;

    h1 {
        font-size: 50px;
        font-family: 'Oleo Script', cursive;
        color: $accentColor;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left {
        width: 43%;
        height: 80%;
        position: absolute;
        z-index: 1;
        // background-color: $mainColor;
        // background-color: red;
        // padding-left: 30px;
        margin-top: 28px;
        float: left;

        .wrapper {
            margin-left: 3.2%;
            width: 227%;
            height: 105.6%;
            border: solid;
            border-right: 0px;
            border-radius: 15px;
            box-shadow: 0px 0px 35px -8px $mainColor;
            background-color: rgba(240, 237, 228, 0.144);
            background-image: linear-gradient(to right, rgba(240, 237, 228, 0.777), rgba(240, 237, 228, 0.259), rgb(240, 237, 228, 0.01));

            h3 {
                color: $darkAccent;
                position: relative;
                font-family: 'Oleo Script', cursive;
                font-size: 25px;
                font-weight: 900;
                margin: 30px 50px;
                padding: 25px 35px;
            }

            p {
                color: $darkAccent;
                position: relative;
                font-family: 'Bebas Neue', cursive;
                font-size: 20px;
                font-weight: 900;
                margin-top: 20px;
                padding: 5px 35px;
            }
        }
    }

    .right {
        flex: 0.5;
        overflow: hidden;
        z-index: 0;
        height: 89%;
        width: 68%;
        // background-color: aqua;
        margin-top: 27px;
        float: right;

        .imgContainer {
            width: 95%;
            height: 95.4%;
            margin-left: 30px;
            display: flex;
            overflow: hidden;
            clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 0% 50%, 0 1%);
            // clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            // clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
            // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
            border-style: solid;
            border-color: $darkAccent;
            border-radius: 0px 15px 15px 0px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}