@import "../../global.scss";

.intro {
    background-color: $mainColor;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 95%;
            // height: 700px;
            height: 100%;
            // border-radius: 50%;
            display: flex;
            align-items: flex;
            justify-content: center;
            overflow: inherit;
            clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
            margin: auto;
        }
    }

    .right {
        flex: 0.5;
        position: relative;
        overflow: hidden;

        .wrapper {
            margin-top: 100px;
            width: 100%;
            height: 70%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 60px;
                margin: 10px 0;
                color: rgb(56, 55, 55);
            }

            h2 {
                font-size: 35px;
                color: rgb(56, 55, 55);
            }

            h3 {
                font-size: 30px;
                color: rgb(56, 55, 55);
                margin: 10px 0px;
            }

            span {
                margin: 10px 0px;
                font-size: inherit;
                color: $accentColor;
                // color: rgb(158, 27, 215);
            }

            .ityped-cursor {
                color: $darkAccent;
                animation: blink 1s infinite;
            }

            @keyframes blink {
                50% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                }
            }

            button {
                margin-top: 100px;
                margin-left: 200px;
                background-color: $accentColor;
                color: $darkAccent;
                width: 150px;
                height: 60px;
                font-weight: 100;
                border-style: solid;
                border-color: $darkAccent;
                border-radius: 8px;
                box-shadow: 5px 5px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    text-decoration-color: none;
                }

                img {
                    // position: fixed;
                    width: 40px;
                    height: 40px;
                    // margin-right: 50px;
                }

                // h3 {
                //     display: inline;
                //     font-size: medium;
                //     margin-top: 100px;
                // }

                &:hover {
                    background-color: $darkAccent;
                    color: $mainColor;
                    opacity: 0.9;
                    // z-index: 0;
                }
            }
        }


    }
}